<main>
  <h1>I &#128150; Food!</h1>
  <div>
    <div class="recipe_list">
      {% for recipe in recipe_list %}
      <div>
        <h3>
          <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <div>&#128150;</div>
        <p>{{ recipe.created_on|date:"M d, y" }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
